# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out

# Misc
*.app
*.user
*.filters
/.vs
output.tga
output_wireframe.tga
/x64
*.bak
/tinyrenderer/x64
framebuffer.tga
depthbuffer.tga
